body{
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #1D3557;
}
img{
    width: 100px;
    height: 100px;
}
.hero{
    background-image: url("./images/hometown.jpg");
    background-size: cover;
    text-align: center;
    color: #F1FAEE;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 1px black;
}

#hero-title{
    background-color: #457B9D;
    padding: 8px 16px;
    border-radius: 5px;
}
#hero-description{
    background-color: #1D3557;
    padding: 5px 10px;
    border-radius: 5px;
}
.activities-section{
padding:10px 40px;
background-color: #e4fff6;
}
.activities{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.activity-img{
    border-radius: 50%;
}
.guide-section{
    background-color: #A8DADC;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border-bottom: 6px solid #1D3557;
}
.guide-section div{
    margin-left: 20px;
}