body {
  margin: 0;
  text-align: center;
  color: #82a5ca;
  font-family: "Orbitron", sans-serif;
}
.hero {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDlpcmlndjN0cGF1N2o0a3U0NjBiYXpsZDFxazNyZzY1dHZ5Y3hhOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif");
  background-size: cover;
  padding: 10px 0 40px 0;
}
.logo {
  width: 100px;
}
.title {
  font-weight: bolder;
  text-shadow: 0px 0px 4px black;
}
.btn{
    font-family: inherit;
    color: inherit;
    font-weight: 800;
    padding: 8px 16px;
    background-color: white;
    border: none;
}