.main{
    margin-top: 100px;
}
.logo-img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.search-input{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.btn{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #dfe1e5;
    border: none;
    border-radius: 5px;
}